// components
@import './components/navbar.scss';
@import './components/iconosNav.scss';
@import './components//IconosFlotantes.scss';

* {
    padding: 0;
    margin: 0;
    .sectionProductos {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 20px;
    }
}