nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    img {
        height: 10%;
        width: 10%;
        padding: 0 43.8%;
        margin: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0 20%;
        margin: 0;
        li{
            display: inline;
            font-size: 120%;
            padding: 10px;
            a{
                text-decoration: none;
                color: #fff;
                padding: 10px;

                &:hover{
                    color: black;
                }
            }
        }
    }
}